
<button h2-asyncClick>ClickNone</button><br>
<button [h2-asyncClick]="onClicked">onClicked</button><br>
<button
  [h2-asyncClick]="onClickedAsync"
>onClickedAsync</button><br>
<button [h2-asyncClick]="onClickedObservable">onClickedObservable</button><br>

<button
  [h2-asyncClick]="onClickedAsync"
  [h2-asyncClickChange]="changeColorDisabled"
  h2-asyncClickKey="hello"
>onClickedAsync red</button><br>

<button
  [h2-asyncClick]="onClickedAsync"
  [h2-asyncClickChange]="changeBlueDisabled"
  h2-asyncClickKey="hello"
>onClickedAsync blue</button><br>

<button
  [h2-asyncClick]="onClickedAsync"
  [h2-asyncClickChange]="changeGreenDisabled"
  h2-asyncClickKey="hello"
>onClickedAsync green</button><br>
